
// button{
//     cursor: pointer;
//     border: 0px outset silver;
//     font-family: 'Dongle', sans-serif;
//     color: chartreuse;
//     background-color: rgb(14, 13, 13);
//     margin: 7px;
//     width: 75px;
//     margin-left: 40%;
//     border-radius: 14px;
//     box-shadow: 1px 1px 3px black,
//                 2px 2px 3px black,
//                 3px 3px 4px rgba(15, 15, 15, 0.808);
// }
.card{
    background-color:rgb(15, 15, 15);
    padding: 5px;
    margin: 5px;
    box-shadow: 1px 1px 3px black,
                2px 2px 3px black,
                3px 3px 6px rgba(0, 0, 0, 0.712);
}

.btn{
    box-shadow: 1px 1px 2px rgb(0, 0, 0),
    2px 2px 3px rgb(19, 18, 18);
    transition: 1s ease-in-out;
}
.btn:hover{
    box-shadow: 1px 1px 2px rgb(0, 0, 0),
                2px 2px 3px rgb(0, 0, 0),
                3px 3px 4px rgba(0, 0, 0, 0.5);
                transition: .5s ease-in-out;
}