//MAIN View

body{
    color: bisque;
    background-color: rgb(5, 5, 5);
}


img{
    margin-left: 10%;
    height: 375px;
    width: 275px;
    border-radius: 14px;
    box-shadow: 1px 1px 3px black,
                2px 2px 3px black;
}
